<?xml version="1.0"?>
<config>
	<render width="1920" height="1080">
		<vsync value="false" />
	</render>
	<window width="1280" height="720" scale="1">
		<fullscreen value="false" />
		<borderless value="false" />
	</window>
	<audio music="100" sfx="56" />
	<scenemanager>
		<menu />
		<options>
			<resolution current="1">
				<button name="720x405" />
				<button name="1280x720" />
				<button name="1920x1080" />
			</resolution>
		</options>
	</scenemanager>
</config>
