<?xml version="1.0"?>
<config version="0.1" framecap="240">
	<render width="720" height="405">
		<vsync value="false" />
	</render>
	<window width="1280" height="720">
		<fullscreen value="false" />
		<borderless value="false" />
		<grabbed value="false" />
	</window>
	<audio music="0" sfx="0" />
	<scenemanager>
		<menu />
		<options>
			<resolution current="1">
				<button name="720x405" />
				<button name="1280x720" />
				<button name="1920x1080" />
			</resolution>
		</options>
	</scenemanager>
</config>
